nav.nav-label > ul > li > a {
	transition: color 0.2s ease-in-out;
}

nav.nav-label > ul > li.active > a {
	fill: var(--primary);
	color: var(--primary);

	margin: -0.25rem 0 -0.85rem;
}

nav.nav-label > ul > li:not(.active):hover > a {
	fill: var(--primary);
	color: var(--primary);
}

nav.nav-label > ul > li.active > a > span {
	display: block;
}
