nav.nav-badge > ul > li.active > a {
	fill: var(--primary);
	color: var(--primary);

	margin: -0.25rem 0 -0.85rem;
}

nav.nav-badge > ul > li.active > a > span {
	display: block;
	margin: 0 -1rem;
	padding: 0 1rem;

	color: #ffffff;
	background-color: var(--primary);
	border-radius: 1rem;
}
