nav.nav-ghost > a.exit {
	background-color: transparent;
	border-radius: 0.5rem;

	transition: background-color 0.2s ease-in-out;
}

nav.nav-ghost > a.exit:hover {
	background-color: var(--bg-warn-light);
}

nav.nav-ghost > ul > li > a {
	background-color: transparent;
	border-radius: 0.5rem;

	transition: background-color 0.2s ease-in-out;
}

nav.nav-ghost > ul > li:not(.active):hover > a {
	background-color: var(--bg-primary-light);
}

nav.nav-ghost > ul > li.active > a {
	fill: var(--primary);
	color: var(--primary);
	background-color: var(--bg-primary-alt);
}
