nav.nav-ghost > ul > li > a {
	background-color: transparent;
	border-radius: 0.5rem;
}

nav.nav-ghost > ul > li.active > a {
	fill: var(--primary);
	color: var(--primary);
	background-color: var(--bg-primary-light);
}
