nav.nav-rounded > ul > li > a {
	position: relative;
	z-index: 0;
}

nav.nav-rounded > ul > li > a::after {
	content: '';
	position: absolute;
	inset: 0 0.5rem;
	z-index: -1;

	background-color: transparent;
	border-radius: 50%;
}

nav.nav-rounded > ul > li.active > a {
	fill: #8660f2;
	color: #8660f2;
}

nav.nav-rounded > ul > li.active > a::after {
	background-color: #f4f1fb;
}
