nav.nav-chip > a.exit,
nav.nav-chip > ul > li > a {
	position: relative;
	z-index: 0;

	transition: color 0.2s ease-in-out;
}

nav.nav-chip > a.exit::before,
nav.nav-chip > ul > li > a::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;

	display: block;
	margin-left: -1rem;

	background-color: transparent;
	border-radius: 0 0.5rem 0.5rem 0;

	transition: background-color 0.2s ease-in-out;
}

nav.nav-chip > ul > li:not(.active):hover > a {
	fill: var(--primary);
	color: var(--primary);
}

nav.nav-chip > a.exit:hover::before {
	background-color: var(--bg-warn-light);
}

nav.nav-chip > ul > li:not(.active):hover > a::before {
	background-color: var(--bg-primary-light);
}

nav.nav-chip > ul > li.active > a {
	fill: var(--primary);
	color: #ffffff;
}

nav.nav-chip > ul > li.active > a::before {
	background-color: var(--primary);
}
