nav.nav-side > ul > li > a {
	position: relative;
}

nav.nav-side > ul > li > a::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;

	width: 0.25rem;
	height: 100%;
	margin-right: -1rem;

	background-color: transparent;
	border-radius: 1rem 0 0 1rem;
}

nav.nav-side > ul > li.active > a {
	fill: var(--primary);
	color: var(--primary);
}

nav.nav-side > ul > li.active > a::after {
	background-color: var(--primary);
}
