nav.nav-rounded > ul > li > a {
	position: relative;
	z-index: 0;
}

nav.nav-rounded > ul > li > a::after {
	content: '';
	position: absolute;
	inset: 0 0.5rem;
	z-index: -1;

	background-color: transparent;
	border-radius: 50%;
}

nav.nav-rounded > ul > li.active > a {
	fill: var(--primary);
	color: var(--primary);
}

nav.nav-rounded > ul > li.active > a::after {
	background-color: var(--bg-primary-light);
}
